[flake8]
max-line-length = 79
extend-select = B950
extend-ignore = E203, E501, E701
exclude =
	.git/,
    .github/,
    .hg/,
    .tox/,
    .venv/,
    .pytest_cache/,
    .mypy_cache/,
    .env,
    .coverage,
    docs/,
    migrations/,
    build/,
    dist/,
    venv/,
    __pycache__/,
    htmlcov/,
    tests/fixtures/,
    *.md,
	*.pyc,
	*.pyo,
	*.csv,
	*.json,
	*.dat,
	*.log,
	*.xml,
	*.so,
	*.dll,
	*.dylib,
	*.exe,
	*.out,
    *.ipynb,
